Выполните следующие задания на Python без использования сторонних библиотек

1. Напишите программу, которая будет выводить на экран площадь квадрата и его периметр. Сторона квадрата будет равна 25

In [17]:
side = 25
area = side ** 2
perimetr = side * 4
print (area, perimetr)

625 100

2. Напишите функцию, которая будет принимать два числа и считать сумму квадратов этих двух чисел, запишите своё вычисление в переменную squared. (Подсказка: Помните, чтобы записать результат функции в переменную, она должна этот результат внутри себя возвращать! Return)

In [18]:
def squares_summ(a, b):
    return a ** 2 + b ** 2
squared = squares_summ(3, 4)
print(squared)

25

3. Напишите функцию, которая будет принимать на вход список  [“male“,“male“,“female“,“male“,“male“,“female“,”female“] и возвращать его в обратном порядке. Запишите список в переменную new_list. Подсказка: Вам поможет обратная индексация к спискам ! [::-1]

In [19]:
def clockwise_list (list):
    return list [::-1]
list = ["male", "male", "female", "male", "male", "female", "female"] 
new_list = clockwise_list (list)
print (new_list)

['female', 'female', 'male', 'male', 'female', 'male', 'male']

4. Напишите функцию, которая будет принимать на вход список (new_list) и идти по нему в цикле. На выходе функция должна вывести на экран: Кол-во мужчин 4, Кол-во женщин 3

In [20]:
def gender_calculator (list):
    male = 0
    female = 0
    for i in list:
        if i == 'male':
            male += 1
        elif i == 'female':
            female += 1
    return male, female
male, female = gender_calculator (list)
print (male, female)

4 3

5. Напишите функцию, которая будет принимать строку (Например: “female”), а возвращать словарь где ключи — это символы строки, а значения кол-во символов в строке

In [21]:
def symbols_calc (word):
    symbols = {}
    for symbol in word:
        if symbol in symbols:
            symbols[symbol] += 1
        else:
            symbols[symbol] = 1
    return symbols
symbols_calc ('female')

{'f': 1, 'e': 2, 'm': 1, 'a': 1, 'l': 1}

6. Воспользуйтесь функцией range в Python и выведите на экран сумму квадратов от 1 до 100 (включительно)

In [22]:
squares_summ = 0
for i in range (1,101):
    squares_summ += i **2
    print(f'квадрат числа {i} = {i ** 2}')
print(f"Итого: сумма квадратов от 1 до 100 = {squares_summ}")

квадрат числа 1 = 1
квадрат числа 2 = 4
квадрат числа 3 = 9
квадрат числа 4 = 16
квадрат числа 5 = 25
квадрат числа 6 = 36
квадрат числа 7 = 49
квадрат числа 8 = 64
квадрат числа 9 = 81
квадрат числа 10 = 100
квадрат числа 11 = 121
квадрат числа 12 = 144
квадрат числа 13 = 169
квадрат числа 14 = 196
квадрат числа 15 = 225
квадрат числа 16 = 256
квадрат числа 17 = 289
квадрат числа 18 = 324
квадрат числа 19 = 361
квадрат числа 20 = 400
квадрат числа 21 = 441
квадрат числа 22 = 484
квадрат числа 23 = 529
квадрат числа 24 = 576
квадрат числа 25 = 625
квадрат числа 26 = 676
квадрат числа 27 = 729
квадрат числа 28 = 784
квадрат числа 29 = 841
квадрат числа 30 = 900
квадрат числа 31 = 961
квадрат числа 32 = 1024
квадрат числа 33 = 1089
квадрат числа 34 = 1156
квадрат числа 35 = 1225
квадрат числа 36 = 1296
квадрат числа 37 = 1369
квадрат числа 38 = 1444
квадрат числа 39 = 1521
квадрат числа 40 = 1600
квадрат числа 41 = 1681
квадрат числа 42 = 1764
квадрат числа 43 = 1849
квадрат числа 44 = 1936
квадрат числа 45 = 2025
квадрат числа 46 = 2116
квадрат числа 47 = 2209
квадрат числа 48 = 2304
квадрат числа 49 = 2401
квадрат числа 50 = 2500
квадрат числа 51 = 2601
квадрат числа 52 = 2704
квадрат числа 53 = 2809
квадрат числа 54 = 2916
квадрат числа 55 = 3025
квадрат числа 56 = 3136
квадрат числа 57 = 3249
квадрат числа 58 = 3364
квадрат числа 59 = 3481
квадрат числа 60 = 3600
квадрат числа 61 = 3721
квадрат числа 62 = 3844
квадрат числа 63 = 3969
квадрат числа 64 = 4096
квадрат числа 65 = 4225
квадрат числа 66 = 4356
квадрат числа 67 = 4489
квадрат числа 68 = 4624
квадрат числа 69 = 4761
квадрат числа 70 = 4900
квадрат числа 71 = 5041
квадрат числа 72 = 5184
квадрат числа 73 = 5329
квадрат числа 74 = 5476
квадрат числа 75 = 5625
квадрат числа 76 = 5776
квадрат числа 77 = 5929
квадрат числа 78 = 6084
квадрат числа 79 = 6241
квадрат числа 80 = 6400
квадрат числа 81 = 6561
квадрат числа 82 = 6724
квадрат числа 83 = 6889
квадрат числа 84 = 7056
квадрат числа 85 = 7225
квадрат числа 86 = 7396
квадрат числа 87 = 7569
квадрат числа 88 = 7744
квадрат числа 89 = 7921
квадрат числа 90 = 8100
квадрат числа 91 = 8281
квадрат числа 92 = 8464
квадрат числа 93 = 8649
квадрат числа 94 = 8836
квадрат числа 95 = 9025
квадрат числа 96 = 9216
квадрат числа 97 = 9409
квадрат числа 98 = 9604
квадрат числа 99 = 9801
квадрат числа 100 = 10000
Итого: сумма квадратов от 1 до 100 = 338350

7. Укажите какой метод добавит значение в конец списка. Приведите пример

In [23]:
pokemon = ['pikachu', 'bulbazavr', 'slowpoke']
pokemon.append ('Dmitry')
pokemon

['pikachu', 'bulbazavr', 'slowpoke', 'Dmitry']

8. Как объединить два списка "a" и "b" в один новый список "c"? Приведите пример

In [24]:
список_a = [1, 1, 'Robo']
список_b = ['Cop', 5, 6]
список_c = список_a + список_b
список_c

[1, 1, 'Robo', 'Cop', 5, 6]

9. Укажите какой метод посчитает количество значений 'a' в списке ['a', 'b', 'c', 'e', 'a', 'g', 'a', 'q']. Приведите пример

In [25]:
список_c.count (1)

2

10. Исправьте следующий код, так чтобы он отрабатывал правильно

In [26]:
x = 2**4
y = 4**2
if x < y:
    print("x меньше y") 
else: 
    print("x больше, либо равен y")

x больше, либо равен y

### Задание ПРО

1. Написать программу, которая будет выводить на экран числа Фибоначчи до заданного числа.

In [27]:
def fibo(B):
    a, b = 0, 1
    while b <= B:
        print(b)
        a, b = b, a + b
fibo(50)

1
1
2
3
5
8
13
21
34

2. Напишите программу, которая на вход принимает список чисел и возвращает только уникальные значения из этого списка.

In [28]:
numbers = [1, 2, 2, 3, 3, 4, 5]
unique_numbers = list(set(numbers))
unique_numbers

TypeError: 'list' object is not callable

3. Напишите программу, которая переводит температуру в градусах Фаренгейта в градусы Цельсия

In [14]:
F = -39
C = (F-32)*5//9
C

-40

4. Напишите программу, которая проверяет, является ли строка палиндромом без использования стандартных методов.

In [15]:
def palindrome(s):
    s_lower = s.lower().replace(" ","")
    return s_lower == s_lower[::-1]
palindrome("Аргентина манит негра")

True